body{
    background:rgb(179, 177, 177);
    color:white;
    font-family: 'Montserrat', sans-serif;
}

header{
    width:100%;
    text-align: center;
    font-size: 4em;
    background:#fff;
    padding:10px 0;
    font-weight: bold;
    border-bottom: 3px solid  rgb(10, 52, 131);
    position: fixed;
    top:0px;
} 


header > img {
    height:70px;
    width:20%;
    margin-left:9%;
}

footer{
    width:100%;
    background: rgb(10, 52, 131);
    height:200px;
    font-weight: bold;
    font-size: 2.5em;
    margin-top:150px;
    padding-top:10px;
    box-sizing:border-box;
    
}
i{
    cursor: pointer;
    font-size: 1em;
}

#cont,span{
    margin-left:5%;
}

#cont > a:nth-child(even),#cont > a:last-child{
    margin-left:1.2%;
    width:1%;    
}

a{
    text-decoration: none;
    color:#fff;
}

#cont{
    margin-top:10px;
}

i:hover{
    opacity: 0.7;
    
}

#products{
    background: #fff;
    width:70%;
    border: 3px solid rgb(10, 52, 131);
    margin: 40px auto 0 auto;
    box-sizing: border-box;
    border-radius: 40px;
    position: relative;
    top:100px;
    z-index: -99;
}



img{
    width:32%;
    display:inline-block;
    position: relative;
    right:4.5%;
}

